@use "./theme.scss";

$sumiInk4: #54546d;
$sumiInk3: #363646;
$springViolet1: #938aa9;
$springViolet2: #9cabca;
$oniViolet: #957fb8;

$workspace-border-color: $sumiInk3;

.#{uuid()} {
  &__root {
    border: 1px solid $workspace-border-color;
    border-bottom: none;
    border-top: none;
    border-right: none;
  }

  &__icon {
    padding: 0 5px;
    width: 20px;

    &.active {
      background-color: $sumiInk4;

      &.second {
        background-color: $oniViolet;
      }
    }

    &.index {
      font-weight: 400;
      color: $springViolet1;
      font-family: "Segoe UI Variable Static Text";
      font-size: 13px;
    }
  }

  &__workspace {
    border: 1px solid $workspace-border-color;
    border-bottom: none;
    border-top: none;
    border-left: none;

    // padding: 0 3px;

    &.active {
      background-color: $workspace-border-color;
    }

    // &:first-child {
    //   border-left: 1px solid $workspace-border-color;
    // }
  }
}
